<div class = "row">
    <h2> Employee List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> employeeId</th>
            <th> employeeType </th>
            <th> accumulatedVacationDays</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.employeeId }} </td>
            <td> {{ employee.employeeType }} </td>
            <td> {{ employee.accumulatedVacationDays }} </td>
            <td>
                <button (click) = "updateEmployeeWork(employee.employeeId)" class = "btn btn-primary"> Update Work</button>
              <button (click) = "updateEmployeeVacation(employee.employeeId)" class = "btn btn-primary"> Update Vacation</button>
              <button (click) = "employeeDetails(employee.employeeId)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
